<%- contentFor('body') %>
<h2>Home</h2>
<p>Welcome to Monopoly Blockchain Experience Application!</p>
<br/><br/>
<p>Go to Query if you want to query transactions.</p>
<p>Go to Invocation if you want to add transactions.</p>